/*
    GLOBAL CSS HERE

    .ant-card-head{
      border-left-style: solid;
      border-left-width: 4px;
    }
 */
ul{
  margin: 0;
  padding: 0;
}
.ellipsis-rot{
  transform: rotate(90deg);
  margin-right: -10px;
}

.marginTask{
  margin-bottom: 0px;
}

/* Module css styling */
.cardSuccess > :first-child{
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: #00a854;
}

.cardWarning > :first-child{
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: #ff9800;
}

.cardDefault > :first-child{
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: #d9d9d9;
}

.cardError > :first-child{
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: #f5222d;
}

/*CSS Modal styling */
.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}

.ant-modal-close-x {
  font-size: 18px;
}

.ant-modal-header {
  border-bottom: none;
}

.ant-modal-footer {
  border-top: none;
}

.ant-modal-content {
  padding: 10px;
}

/*INPUT TEXT material design*/
.group 			  {
  position:relative;
  margin-bottom:45px;
  display: block;
}

input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

.labelEffect 				 {
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:20px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

input:focus ~ .labelEffect, input:valid ~ .labelEffect 		{
  top:-20px;
  font-size:14px;
}

.default-input 				{
  font-size: 14px;
  color: "#222";
  padding: 5px 5px 0px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid #e8e6e6;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:  #aaa;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:  #aaa;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:  #aaa;
}

.default-input:focus ~ .labelEffect, .default-input:valid ~ .labelEffect 		{
  top:-20px;
  font-size:14px;
}

.bar 	{
  position:relative;
  display:block;
}
.bar-before 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  left: 75px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.bar-after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}


.bar-before {
  left:50%;
}
.bar-after {
  right:50%;
}

input:focus ~  .bar > .bar-before, input:focus ~ .bar > .bar-after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

.errorInput{
  color: red;
  font-size: 12px;
  top: 50px;
  left: 5px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
}

.error{
  color: red;
  font-size: 12px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
}

input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}


/* Dashboard responsive logo */
#components-layout-demo-responsive .logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

.headerLogoMenu {
  margin: 0px 24px 0 ;
  text-align: left ;
  vertical-align: middle ;
  float: left
}

.headerUser {
  margin: 0px 16px 0;
  text-align: right;
  vertical-align : middle
}
.select-style{
  border: 1px solid #ccc;
  width: 60px;
  border-radius: 3px;
  overflow: hidden;
}

.logoTmo {
  border-style: none;
  width: 120px;
  vertical-align: middle;
  margin-left: 15px;
}
.tree-menu-process-level .ant-checkbox-wrapper{
  margin-right: 3px;
}
.tree-menu-process-level{
  padding: 5px 10px 0 20px;
  list-style: none;
  margin: 0;
}
.tree-menu-process-level > span{
  display: block;
}

.tree-menu-process-level-process{
  padding-left: 20px;
}

.tree-menu-process-level-module{
  padding: 9px 0px 0px 20px;
}

.tree-menu-process-level-form{
  padding-left: 40px;
}

.tree-menu-process-level .ant-checkbox-inner{
  width: 20px;
  height: 20px;
}
.tree-menu-process-level .ant-checkbox-inner:after{
  left: 7px;
  top: 2px;
  height: 10px;
}

.ant-checkbox-indeterminate .ant-checkbox-inner:after
{
  height: 1.2px;
  top: 8px;
  left: 5px;
}
.collapse-btn{
  float: left;
}
.collapse-btn i{
  font-size: 9px;
  margin-right: 10px;
}
.ant-dropdown-menu{
  padding: 5px;
}
.noselect * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}
.tree-menu-line{
  padding: 1px 2px 1px 4px;
  display: inline-block;
  user-select: none;
  /*width: 126px;*/
  text-overflow: ellipsis;
  overflow: hidden;
  /* display: inline-block; */
  white-space: nowrap;
  vertical-align: middle;
}
.tree-menu-line.selected{
  background: #FFF;
  color: dodgerblue;
}

.editFormIcons:hover{
  color: #1890ff;
  cursor: pointer;
}

#template-editor{
  background: #fafafa;
}
#template-editor .ant-tabs-tab,
#template-editor .ant-tabs-ink-bar {
  width: 33%;
  text-align: center;
}
#template-editor .ant-tabs-nav
{
  width: 100%;
  margin: 0;
}
#template-editor .ant-tabs-tab:last-child
{
  margin-right: 32px;
}
#template-editor .ant-tabs-tabpane{
  padding: 10px 20px;
}
#template-editor-module-container{
  min-height: 700px;
  width: 100%;
  display: block;
  position: relative;
}

#template-editor-module-container .module-template-available-modules-list{
  width: 280px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}
#template-editor-module-container .processus-template-available-modules-list{
  width: 280px;
  position: absolute;
  right: 0;
  top: 0;
}

.tmo-relative-full-container{
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

#template-editor-module-container .module-template-selected-module-container{
  width: calc(100% - 300px);
  height: 100%;
  display: block;
  position: absolute;
  left: 300px;
  top: 0;
}
#template-editor-module-container .process-template-selected-module-container{
  width: calc(100% - 300px);
  height: 100%;
  display: block;
  position: absolute;
  left: 300px;
  top: 0;
}

#template-editor-module-container .module-template-forms-in-module-list{
  display: block;
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 0;*/
  width: 100%;
  /*height: 310px;*/
}

#template-editor-module-container .module-template-forms-template-list{
  display: block;
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 310px;*/
  width: 100%;
  /*height: calc(100% - 310px);*/
}

.jeuxDonnes{
  margin-top: 10px;
  border-color: #eae9e9;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.iconJeuxDonnes{
  position: absolute;
  top: 50px;
  left: 160px;
  color: green;
  font-size: 24px;
}

.ant-select{
  display: block;
}

.upload-demo-start {
  margin-top: 20px;
}

.template-form:hover{
  border: 1px solid #82c0ff;
  cursor: pointer;
}
.ant-upload-list-item-name{
  cursor: default;
}

.myCard{
  cursor: pointer;
  padding: 10px 10px 0px;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  border-color: lightgray;
  margin: 10px;
}


.tmo-flex-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.tmo-float-content{
  display: block;
}

.tmo-float-content > *{
  float: left;
}

.tmo-flex-container-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.tmo-flex-wrapper {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.tmo-flex-wrapper-menu {
  width: 300px;
  display: block;
  background: #fdfdfd;
}

.tmo-flex-wrapper-content {
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  flex-direction: row;
  overflow: auto;
}

.module-list{
  margin: 0;
}

.module-list > li.selected > span{
  background: #1890ff;
  color: white;
}

.module-list > li.selected > div{
  background: #1890ff;
  color: white;
}

.module-list > li > div{
  width: 100%;
  height: 20px;
  display: block;
  padding: 10%;
  line-height: 0;
  border-bottom: 1px solid #d9d9d9;
}

.module-list > li > span{
  width: 100%;
  height: 20px;
  display: block;
  padding: 10%;
  line-height: 0;
  border-bottom: 1px solid #d9d9d9;
}
.module-list > li{
  list-style: none;
  padding:0px;
  margin: 0;
}

.module-list > li:not(.selected):hover{
  background: #eeeeee;
  cursor: pointer;
}

.module-list > li .forms{
  display: none;
  background: white;
}

.module-list > li.selected .forms{
  display: block;
}

.module-list > li.selected .forms > li{
  margin-left: 0px;
  list-style: none;
  padding: 10px 25px;
  background: #ffffff;
  color: #1890ff;
}

.module-list > li.selected .forms > li.form-new{
  color: #00a854;
}

.module-list > li.selected .forms > li .btn-close{
  display: none;
}
.module-list > li.selected .forms > li.form-new .btn-close{
  color: #333333;
  cursor: pointer;
  float: right;
  display: block;
  line-height: 22px;
}

.aligner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  flex: 1;
  text-align: center;
}

.module-list *,
.text-not-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ant-card{
  min-width: 250px;
}

.forms-template-list{
  overflow: auto;
  flex-direction: column;
  display: flex;
  flex: 1;
}

.forms-template-list input{
  padding: 5px 20px;
  border: none;
}

.loginBody{
   background: #f0f2f5;
   position: absolute;
   top: 64px;
   bottom: 0px;
   width: 100%;
}

.loginFooter{
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.module-item{
  paddingBottom: "10px";
  paddingRight: "10px";
  marginBottom: "10px";
  borderColor: "rgba(0, 0, 0, 0.05)";
  borderStyle: "solid";
}

.process-module-template-item{
  border: 3px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin-bottom: 5px;
}

.process-module-template-item.selectable:hover{
  border-color: rgba(0, 0, 0, 0.15);
}
.process-module-template-item > h3 > span:hover {
  color: #1890ff;
  cursor: pointer;
}
.process-module-template-item > div{
  padding: 15px;
  overflow: auto;
}
.no-borders{
  border: 1px solid #e8e8e8!important;
  cursor: default!important;
}